<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837651180758-ogohugrdso60e8m8ni3ib6f91utocvl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837651180758-ogohugrdso60e8m8ni3ib6f91utocvl6</string>
	<key>API_KEY</key>
	<string>AIzaSyDRqxJm43lANYYVCL1JqG4WoT64pM-cibE</string>
	<key>GCM_SENDER_ID</key>
	<string>837651180758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MatthewGuo.LoginDemo</string>
	<key>PROJECT_ID</key>
	<string>logindemo-93997</string>
	<key>STORAGE_BUCKET</key>
	<string>logindemo-93997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837651180758:ios:6f41ebe3d4276f441f2d77</string>
</dict>
</plist>